<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Test Template</h1>
    {% if request.user.is_authenticated %}
        <h1>You're authenticated  ....</h1>
    {% else %}
    <a href="{% url 'auth_system:register' %}">Register</a>
    <a href="{% url 'auth_system:login' %}">Login</a>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>