{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
    <a href="{%url 'calendar_event:create_event'%}">Створити подію</a>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>    <style>
        .calendar-container {
            max-width: 1000px;
            max-height: 500px;
            margin: auto;
        }
    </style>
    <br>
    <div class="container-fluid text-center">
        <div class="row calendar-container">
            <div class="col-md-8 mb-3 border rounded-3 pb-2">
                <div class="row text-center p-3 bg-primary rounded-3 text-white">
                    <div class="col">
                        <a href="{% url 'calendar_event:calendar_date' year=previous.year month=previous.month day=previous.day%}" class="text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                            </svg>
                        </a>
                    </div>
                    <div class="col h4">{{month_name.0}} {{date.year}}</div>
                    <div class="col">
                        <a href="{% url 'calendar_event:calendar_date' year=next.year month=next.month day=next.day%}" class="text-white bold">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="row d-flex justify-content-between p-2 fw-lighter"> 
                    <div class="col">Пн</div>
                    <div class="col">Вт</div>
                    <div class="col">Ср</div>
                    <div class="col">Чт</div>
                    <div class="col">Пт</div>
                    <div class="col">Сб</div>
                    <div class="col">Нд</div>
                </div>
                {% for week in calendar %}
                    {% if calendar.0 == week %}
                        <div class="row d-flex justify-content-between g-1 mt-1" style="height:30px">
                    {% else %}
                        <div class="row d-flex justify-content-between border-top g-1 mt-1" style="height:30px">
                    {%endif%}
                        {% for day in week %}
                            <div class="col mb-2 p-1">
                                {% if day.0 == 0 %}
                                    <div aria-label="Empty">
                                        {{' '}}
                                    </div>
                                {% elif day.0 == date.day %}
                                    <a class="btn btn-primary btn-square-md" style="border-style: none;" aria-disabled="true">
                                        {{day.0}}
                                    </a>
                                {% elif day.0 == today.day and date.month == today.month and date.year == today.year %}
                                    <a href="{% url 'calendar_event:calendar_date' year=date.year month=date.month day=day.0%}" type="button" class="btn text-center text-black border border-warning rounded-3" style=" border-style: none;">
                                        {{day.0}}
                                    </a>
                                {%else%}
                                    {% if day.0 in events_month %}
                                        <a href="{% url 'calendar_event:calendar_date' year=date.year month=date.month day=day.0%}" type="button" class="btn text-center text-black  border border-primary rounded-3 " style=" border-style: none;">
                                            {{day.0}}
                                        </a>
                                    {% else %}
                                        <a href="{% url 'calendar_event:calendar_date' year=date.year month=date.month day=day.0%}" type="button" class="btn text-center text-black" style=" border-style: none;">
                                            {{day.0}}
                                        </a>
                                    {%endif%}
                                {%endif%}
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                {% endfor %}
            </div>
            
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header fs-3 text-white" style="background-color: #FE5E54;">
                        Події на {% if date.day == today.day and date.month == today.month and date.year == today.year %} сьогодні {%else%}{{date.day}} {{month_name.1}}{%endif%}
                    </div>
                    <div class="card-body">
                        {% if selected_date_events %}
                            {% for event in selected_date_events %}
                                <div class="card text-start mb-1">
                                    <div class="card-header">
                                        {{event.name}}
                                        {{event.scheduled}}
                                        {% if event.scheduled_time%}
                                            {{event.time}}
                                        {%endif%}
                                        
                                    </div>
                                    <div class="card-body">
                                        {%if event.description%}
                                            Опис: {{event.description}}
                                            <br>
                                        {%endif%}

                                        {% if event.meeting_url%}
                                            <a href="{{event.meeting_url}}" target=”_blank”>
                                                Посилання
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                                                    <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
                                                    <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
                                                  </svg>
                                            </a>
                                            <br>
                                        {%endif%}
                                        {% if event.event_date%}
                                            Час події: {{event.time}}
                                        {%endif%}
                                    </div>
                                    <div class="card-text m-1">
                                        <a href="{% url 'calendar_event:update_event' event.id%}" style="text-decoration: none;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                            </svg>
                                        </a>
                                        <a href="{% url 'calendar_event:delete_event' event.id%}" style="text-decoration: none;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            {%endfor%}
                            {% if selected_date_events.paginator.page_range|length > 1%}
                                
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination ms-1 mt-3">
                                        {% for page_num in selected_date_events.paginator.page_range %}
                                            <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </nav> 
                            {%endif%}
                        {% else %}
                            Подій не знайдено
                        {% endif %}
                            
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}