{% extends 'index.html' %}

{% block content %}
<div class="container">
    <h1>Create Project</h1>
    <form method="post" id="project-form" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="form-group">
        <label for="title">Project Name:</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description" rows="1" required></textarea>
    </div>

    <div class="form-group">
        <label for="git_url">Github url:</label>
        <textarea class="form-control" id="git_url" name="git_url" rows="1" required></textarea>
    </div>

    
    <div class="image-container">
        <div class="form-group">
            <label for="image1">Project Image 1:</label>
            <div id="file-inputs">
                <input type="file" class="form-control-file" id="image1" name="image1" required>
            </div>
        </div>
    </div>

    <div class="image-container">
        <div class="form-group">
            <label for="image2">Project Image 2:</label>
            <div id="file-inputs">
                <input type="file" class="form-control-file" id="image2" name="image2" required>
            </div>
        </div>
    </div>

    <div class="image-container">
        <div class="form-group">
            <label for="image3">Project Image 3:</label>
            <div id="file-inputs">
                <input type="file" class="form-control-file" id="image3" name="image3" required>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Create Project</button>
    </form>
</div>

<script>
const fileInput = document.getElementById('image');
const fileInputsContainer = document.getElementById('file-inputs');

fileInput.addEventListener('change', function() {
  // Check if a file is selected
    if (this.files.length > 0) {
    // Clone the existing input element
    const newInput = this.cloneNode(true);
    // Clear the value of the cloned input
    newInput.value = '';
    // Add the new input to the container
    fileInputsContainer.appendChild(newInput);
    }
});
</script>
</body>
</html>
{% endblock %}