{% extends 'base.html' %}
{% block content %}
    <h2>Topics</h2>
    <a href="{% url 'create-topic' category.id %}">Create topic</a>
    {% for topic in topics %}
        <li>
            <a href="{% url 'posts' topic.id %}">{{ topic.title }}</a>
            {% if request.user.id == topic.creator.id %}
                <a href="{% url 'update-topic' topic.id %}">Update topic</a>
                <a href="{% url 'delete-topic' topic.id %}">Delete topic</a>
            {% endif %}
        </li>
    {% endfor %}

{% endblock content %}